<ul class="pagination">
  <li><a ng-click="goBack()">&laquo;</a></li>
  <li ng-repeat="p in pages" ng-class="{active : p === page}"><a ng-click="goToPage(p)">{{p}}</a></li>
  <li><a ng-click="goForward()">&raquo;</a></li>
</ul>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Timestamp</th>
			<th>Criticality</th>
			<th>Message</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="alert in alerts">
			<td>{{alert._source.datetime}}</td>
			<td>
				<span class="label label-default" ng-show="alert._source.criticality == 'INFO'">INFO</span>
				<span class="label label-danger" ng-show="alert._source.criticality == 'CRITICAL'">CRITICAL</span>
				<span class="label label-warning" ng-show="alert._source.criticality == 'MAJOR'">MAJOR</span>
				<span class="label label-warning" ng-show="alert._source.criticality == 'MINOR'">MINOR</span>
				<span class="label label-info" ng-show="alert._source.criticality == 'CLEAR'">CLEAR</span>
			</td>
			<td>{{alert._source.message}}</td>
		</tr>
	</tbody>
</table>