<form name="loadAverageThresholdForm" class="form-horizontal">
	<div class="form-group">
		<div class="col-lg-offset-4 col-lg-8">
			<h4 class="form-control-static">1 minute load average alert thresholds</h4>
		</div>
	</div>
	<div class="form-group" ng-class="{'has-error' : loadAverageThresholdForm.oneMinuteAverageCriticalThreshold.$invalid}">
		<label  class="col-lg-4 control-label">Critical</label>
		<div class="col-lg-4">
			<input type="number" name="oneMinuteAverageCriticalThreshold" class="form-control" ng-model="threshold.oneMinuteAverageCriticalThreshold" step="any" required>
		</div>
		<div class="col-lg-4" ng-show="loadAverageThresholdForm.oneMinuteAverageCriticalThreshold.$invalid">
			<p class="text-danger form-control-static">
				{{loadAverageThresholdForm.oneMinuteAverageCriticalThreshold.errorMessage}}
			</p>
		</div>
	</div>
	<div class="form-group" ng-class="{'has-error' : loadAverageThresholdForm.oneMinuteAverageMajorThreshold.$invalid}">
		<label  class="col-lg-4 control-label">Major</label>
		<div class="col-lg-4">
			<input type="number" name="oneMinuteAverageMajorThreshold" class="form-control" ng-model="threshold.oneMinuteAverageMajorThreshold" step="any" required>
		</div>
		<div class="col-lg-4" ng-show="loadAverageThresholdForm.oneMinuteAverageMajorThreshold.$invalid">
			<p class="text-danger form-control-static">
				{{loadAverageThresholdForm.oneMinuteAverageMajorThreshold.errorMessage}}
			</p>
		</div>
	</div>
	<div class="form-group" ng-class="{'has-error' : loadAverageThresholdForm.oneMinuteAverageMinorThreshold.$invalid}">
		<label  class="col-lg-4 control-label">Minor</label>
		<div class="col-lg-4">
			<input type="number" name="oneMinuteAverageMinorThreshold" class="form-control" ng-model="threshold.oneMinuteAverageMinorThreshold" step="any" required>
		</div>
		<div class="col-lg-4" ng-show="loadAverageThresholdForm.oneMinuteAverageMinorThreshold.$invalid">
			<p class="text-danger form-control-static">
				{{loadAverageThresholdForm.oneMinuteAverageMinorThreshold.errorMessage}}
			</p>
		</div>
	</div>
	<div class="form-group">
		<div class="col-lg-offset-4 col-lg-8">
			<h4 class="form-control-static">5 minute load average alert thresholds</h4>
		</div>
	</div>
	<div class="form-group" ng-class="{'has-error' : loadAverageThresholdForm.fiveMinuteAverageCriticalThreshold.$invalid}">
		<label  class="col-lg-4 control-label">Critical</label>
		<div class="col-lg-4">
			<input type="number" name="fiveMinuteAverageCriticalThreshold" class="form-control" ng-model="threshold.fiveMinuteAverageCriticalThreshold" step="any" required>
		</div>
		<div class="col-lg-4" ng-show="loadAverageThresholdForm.fiveMinuteAverageCriticalThreshold.$invalid">
			<p class="text-danger form-control-static">
				{{loadAverageThresholdForm.fiveMinuteAverageCriticalThreshold.errorMessage}}
			</p>
		</div>
	</div>
	<div class="form-group" ng-class="{'has-error' : loadAverageThresholdForm.fiveMinuteAverageMajorThreshold.$invalid}">
		<label  class="col-lg-4 control-label">Major</label>
		<div class="col-lg-4">
			<input type="number" name="fiveMinuteAverageMajorThreshold" class="form-control" ng-model="threshold.fiveMinuteAverageMajorThreshold" step="any" required>
		</div>
		<div class="col-lg-4" ng-show="loadAverageThresholdForm.fiveMinuteAverageMajorThreshold.$invalid">
			<p class="text-danger form-control-static">
				{{loadAverageThresholdForm.fiveMinuteAverageMajorThreshold.errorMessage}}
			</p>
		</div>
	</div>
	<div class="form-group" ng-class="{'has-error' : loadAverageThresholdForm.fiveMinuteAverageMinorThreshold.$invalid}">
		<label  class="col-lg-4 control-label">Minor</label>
		<div class="col-lg-4">
			<input type="number" name="fiveMinuteAverageMinorThreshold" class="form-control" ng-model="threshold.fiveMinuteAverageMinorThreshold" step="any" required>
		</div>
		<div class="col-lg-4" ng-show="loadAverageThresholdForm.fiveMinuteAverageMinorThreshold.$invalid">
			<p class="text-danger form-control-static">
				{{loadAverageThresholdForm.fiveMinuteAverageMinorThreshold.errorMessage}}
			</p>
		</div>
	</div>
	<div class="form-group">
		<div class="col-lg-offset-4 col-lg-8">
			<h4 class="form-control-static">15 minute load average alert thresholds</h4>
		</div>
	</div>
	<div class="form-group" ng-class="{'has-error' : loadAverageThresholdForm.fifteenMinuteAverageCriticalThreshold.$invalid}">
		<label  class="col-lg-4 control-label">Critical</label>
		<div class="col-lg-4">
			<input type="number" name="fifteenMinuteAverageCriticalThreshold" class="form-control" ng-model="threshold.fifteenMinuteAverageCriticalThreshold" step="any" required>
		</div>
		<div class="col-lg-4" ng-show="loadAverageThresholdForm.fifteenMinuteAverageCriticalThreshold.$invalid">
			<p class="text-danger form-control-static">
				{{loadAverageThresholdForm.fifteenMinuteAverageCriticalThreshold.errorMessage}}
			</p>
		</div>
	</div>
	<div class="form-group" ng-class="{'has-error' : loadAverageThresholdForm.fifteenMinuteAverageMajorThreshold.$invalid}">
		<label  class="col-lg-4 control-label">Major</label>
		<div class="col-lg-4">
			<input type="number" name="fifteenMinuteAverageMajorThreshold" class="form-control" ng-model="threshold.fifteenMinuteAverageMajorThreshold" step="any" required>
		</div>
		<div class="col-lg-4" ng-show="loadAverageThresholdForm.fifteenMinuteAverageMajorThreshold.$invalid">
			<p class="text-danger form-control-static">
				{{loadAverageThresholdForm.fifteenMinuteAverageMajorThreshold.errorMessage}}
			</p>
		</div>
	</div>
	<div class="form-group" ng-class="{'has-error' : loadAverageThresholdForm.fifteenMinuteAverageMinorThreshold.$invalid}">
		<label  class="col-lg-4 control-label">Minor</label>
		<div class="col-lg-4">
			<input type="number" name="fifteenMinuteAverageMinorThreshold" class="form-control" ng-model="threshold.fifteenMinuteAverageMinorThreshold" step="any" required>
		</div>
		<div class="col-lg-4" ng-show="loadAverageThresholdForm.fifteenMinuteAverageMinorThreshold.$invalid">
			<p class="text-danger form-control-static">
				{{loadAverageThresholdForm.fifteenMinuteAverageMinorThreshold.errorMessage}}
			</p>
		</div>
	</div>
	<div class="form-group">
		<div class="col-lg-offset-4 col-lg-4">
			<button type="submit" class="btn btn-default btn-block" ng-click="save(threshold)" ng-disabled="loadAverageThresholdForm.$invalid || !isValid(threshold)">
				Save
			</button>
			<alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">
				{{alert.msg}}
			</alert>
		</div>
	</div>
</form>