<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
		<div class="list-group">
		  <a class="list-group-item" ng-class="{active : section == 'log'}" href="#{{urlPrefix}}/log">Alerts Log</a>
		</div>
		<h3>Alert Thresholds</h3>
		<div class="list-group">
		  <a class="list-group-item" ng-class="{active : section == 'loadaverage'}" href="#{{urlPrefix}}/loadaverage">Load Average</a>
		  <a class="list-group-item" ng-class="{active : section == 'memoryusage'}" href="#{{urlPrefix}}/memoryusage">Memory Usage</a>
		  <a class="list-group-item" ng-class="{active : section == 'diskusage'}" href="#{{urlPrefix}}/diskusage">Disk Usage</a>
		</div>
		<h3>Alert Destinations</h3>
		<div class="list-group">
		  <a class="list-group-item" ng-class="{active : section == 'emailaddresses'}" href="#{{urlPrefix}}/emailaddresses">Email Addresses</a>
		</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" ng-switch on="section">
		<div class="panel panel-default" ng-switch-when="log">
		  <div class="panel-heading">Alerts Log</div>
		  <div class="panel-body" ng-include src="'views/alerts-log.html'">
		     
		  </div>
		</div>
		<div class="panel panel-default" ng-switch-when="loadaverage">
		  <div class="panel-heading">Load Average Alert Thresholds</div>
		  <div class="panel-body" ng-include src="'views/alerts-loadaverage.html'">
		  </div>
		</div>
		<div class="panel panel-default" ng-switch-when="memoryusage">
		  <div class="panel-heading">Memory Usage Alert Thresholds</div>
		  <div class="panel-body" ng-include src="'views/alerts-memoryusage.html'">
		  </div>
		</div>
		<div class="panel panel-default" ng-switch-when="diskusage">
		  <div class="panel-heading">Disk Usage Alert Thresholds</div>
		  <div class="panel-body" ng-include src="'views/alerts-diskusage.html'">
		  </div>
		</div>
		<div class="panel panel-default" ng-switch-when="emailaddresses">
		  <div class="panel-heading">Alert Email Destinations</div>
		  <div class="panel-body" ng-include src="'views/alerts-emailaddresses.html'">
		  </div>
		</div>
	</div>
</div>