<div class="container-fluid">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse"
			data-target="#bs-example-navbar-collapse-1">
			<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span>
			<span class="icon-bar"></span> <span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="#"><img src="images/watchcat.png" class="watchcat-icon"/>
			watchcat</a>	
	</div>

	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav navbar-left">
			<li ng-class="{active : !isAlertsPage}"><a href="#/{{currentHost}}/dashboard"><i class="fa fa-tachometer"></i></a><li>
			<li ng-class="{active : isAlertsPage}"><a href="#/{{currentHost}}/alerts"><i class="fa fa-bell"></i></a><li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
		<li><a ng-click="refreshGraphs()"><i class="fa fa-refresh fa-fw" ng-class="{'fa-spin' : isRefreshing}"></i></a></li>
		<li class="dropdown" ng-show="!isAlertsPage"><a href="#" class="dropdown-toggle"
				data-toggle="dropdown">{{timePeriods[selectedTimePeriod]}} <b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li data-ng-repeat="timePeriod in timePeriods track by $index">
						<a ng-click="timePeriodClicked($index)" ng-show="$index < timePeriods.length - 1">{{timePeriod}}</a>
						<a ng-click="openCustomDateDialog()" ng-hide="$index < timePeriods.length - 1">Custom</a>
					</li>
				</ul></li>
			<li class="dropdown" ng-show="hosts.length > 0"><a href="#" class="dropdown-toggle"
				data-toggle="dropdown">{{currentHost}} <b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li data-ng-repeat="host in hosts"><a
						href="#/{{host}}/">{{host}}</a></li>
				</ul></li>
			<li><a href="https://github.com/tomcashman/linux-graph"><i
					class="fa fa-github"></i> Contribute on Github</a></li>
		</ul>
	</div>
	<!-- /.navbar-collapse -->
</div>
<!-- /.container-fluid -->

<script type="text/ng-template" id="customdate.html">
		<div class="modal-header">
			<h3>Custom Time Range</h3>
		</div>
        <div class="modal-body">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
					<h4>From</h4>
					<datetimepicker ng-model="startDate" startView="'minute'" data-on-set-time="onStartDateSet"></datetimepicker>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
					<h4>To</h4>
					<datetimepicker ng-model="endDate" startView="'minute'" data-on-set-time="onEndDateSet">></datetimepicker>
				</div>
			</div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" ng-click="ok()" ng-disabled="invalidDates()">OK</button>
            <button class="btn btn-error" ng-click="cancel()">Cancel</button>
        </div>
</script>
