<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><span class="glyphicon glyphicon-dashboard"></span>&nbsp;&nbsp;Load Average <span class="label label-info pull-right">{{cpuCores}} cores</span></h3>
			</div>
			<div class="panel-body">
				
				<nvd3-line-chart data="loadAverage" showXAxis="true"
					showYAxis="true" xAxisTickFormat="timeTickFormat()"
					showLegend="true" interpolate="bundle" interactive="false">
				<svg></svg></nvd3-line-chart>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><span class="glyphicon glyphicon-tasks"></span>&nbsp;&nbsp;RAM Usage</h3>
			</div>
			<div class="panel-body">
				<nvd3-line-chart data="ram" showXAxis="true"
					showYAxis="true" xAxisTickFormat="timeTickFormat()"
					showLegend="true" interpolate="bundle" interactive="false">
				<svg></svg></nvd3-line-chart>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><span class="glyphicon glyphicon-hdd"></span>&nbsp;&nbsp;Swap Usage</h3>
			</div>
			<div class="panel-body">
				<nvd3-line-chart data="swap" showXAxis="true"
					showYAxis="true" xAxisTickFormat="timeTickFormat()"
					showLegend="true" interpolate="bundle" interactive="false">
				<svg></svg></nvd3-line-chart>
			</div>
		</div>
	</div>
</div>